@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.search{
    flex: 0.7;
    background-color: var(--clr-primary-dark);
    min-width: 450px;
    padding: 0px 50px 0px 50px;
}

.search-bar{
    margin-top: 100px;
}

.search-form{
    display: flex;
    flex-direction: row;
    /* min-width: 350px; */
}

#search-form-input{
    height: 35px;
    flex: 1;
}

.search-note{
    font-size: var(--fs-small);
    color: var(--clr-primary-lighter);
}

.search-form-button{
    background-color: transparent;
    color: var(--clr-text);
    border: var(--clr-main-light) solid 2px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.2s;
}