@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
	--clr-main: #FF0547;
	--clr-main-light: #FF1956;
	--clr-primary-dark: #202020;
	--clr-primary-light: #303030;
	--clr-primary-lighter: #494949;
	--clr-white: #f5f5f5;
	--clr-dark-white: #e7e7e9;
	--clr-text: #f5f5f5;
	--clr-dark-text: #202020;

	--ff-body: 'Noto Sans JP', sans-serif;

	--fs-small: 0.8em;
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

button{
	font-family:  var(--ff-body);
	color: var(--clr-text);
	outline: none;
	border: var(--clr-main) solid 2px;
	width: 75px;
	height: 30px;
	border-radius: 5px;
}

button:hover{
    cursor: pointer;
    border: var(--clr-main) solid 2px;
}

button:focus{
    background-color: var(--clr-main);
}

input[type=text]{
	border: none;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: var(--clr-primary-light);
	color: var(--clr-text);
	font-family: var(--ff-body);
	outline: none;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

input[type=text]:focus{
    border: var(--clr-white) solid 2px;
    /* outline: none; */
}

.app{
	background-color: var(--clr-primary);
	color: var(--clr-text);
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	font-family: var(--ff-body);
}