:root{
	--clr-main: #ff3467;
	--clr-primary: #3f3f3f;
	--clr-secondary: #f5f5f5;
}

.app{
	background-color: var(--clr-primary);
	color: var(--clr-secondary);
	min-height: 100vh;
	display: flex;
	flex-direction: row;
}